.unicorn {
    width:100px;
    position: absolute;
    bottom: 100px;
    left: 100px;
    transform: rotateY(180deg);
    animation-name: run;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline-block;
    backface-visibility: hidden;
}
.unicorn img {
    width: 100px;
    position: relative;
    animation-name: swing;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0%  {left: 0vw; bottom: 10vh;}
    5%  {left: 5vw; bottom: 12vh;}
    10% {left: 10vw; bottom: 10vh;}
    15% {left: 15vw; bottom: 12vh;}
    20% {left: 20vw; bottom: 10vh;}
    25% {left: 25vw; bottom: 12vh;}
    30% {left: 30vw; bottom: 10vh;}
    35% {left: 35vw; bottom: 12vh;}
    40% {left: 40vw; bottom: 10vh;}
    45% {left: 45vw; bottom: 12vh;}
    50% {left: 50vw; bottom: 10vh;}
    55% {left: 55vw; bottom: 12vh;}
    60% {left: 60vw; bottom: 10vh;}
    65% {left: 65vw; bottom: 11vh;}
    70% {left: 70vw; bottom: 10vh;}
    75% {left: 75vw; bottom: 12vh;}
    80% {left: 80vw; bottom: 10vh;}
    85% {left: 85vw; bottom: 12vh;}
    90% {left: 90vw; bottom: 10vh;}
    95% {left: 95vw; bottom: 12vh;}
    100% {left: 100vw; bottom: 10vh;}
}

@keyframes swing {
    0%  {transform: rotateZ(5deg);}
    50% {transform: rotateZ(5deg);}
    100% {transform: rotateZ(-5deg);}
}

.unicorn:after {
    content:"";
    position: relative;
    display: inline-block;
    left: 100px;
    bottom: 35px;
    background: linear-gradient(#ff0000, #ff9900, #fff900, #00FF00, #1700ff, #b100ff);
    height: 20px;
    width: 100px;
}

/* body {
    color: black;
    background-color: white;
    padding: 20px 30px;
    font: normal 14px/1.618em "Roboto", sans-serif;
    font-weight: 500;
} */

table{
    border-collapse: collapse;
    border: solid white;
}
td, th {
    padding: 10px;
    border: 2px solid rgba(102, 100, 107, 0.39);
}

.user-profile {
    width: 80%;
    /*max-width: 450px;*/
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    /*box-shadow: 2px 2px 5px #000;*/
    border: 1px solid rgba(238,238,238,255);
}

hr {
    margin: 0 auto;
    width: 50px;
    /*border: 1px solid white;*/
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family:Century Gothic,Arial,Helvetica,sans-serif;
}
h1, h2 {

    font-weight: 500;
    margin: 0px 0px 5px 0px;

}

h1{
    font-size: 2.0rem;
    color: #FF5722;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;

}

p {
    font-size: 18px;
}

.top {
    padding: 30px;


}
.bottom{
    padding: 0px;
}

.bottom {

    background-color: rgba(102, 100, 107, 0.49);
    text-align: center;
    height: 2rem;
}

.avatar {
    border-radius: 60%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.avatar img {
    width: inherit;
    height: inherit;
}

.column {
    float: left;
}

.left-column {
    width: 20%;
}
.central-column {
    width:50%;
}

.right-column {
    width: 30%;
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
}